* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Helvetica, sans-serif;
	background: #cdcdc1;
}

.ww {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 75px;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 100px;
	background-color: #aa9cf9;
	border-radius: 3px;
	transition: all 0.3s ease;
	will-change: transform;

	opacity: 1;
	visibility: visible;
	transform: translate(0, 0) scale(1);
}

.ww__city {
	font-weight: 700;
}

.ww__t {

}

.ww__icon {
	position: absolute;
	top: 0;
	left: -20px;
	bottom: 0;
	width: 100px;
	height: 100px;
}

.ww__icon img {
	display: block;
	max-width: 100%;
}

.ww__wind {

}

.ww__close {
	position: absolute;
	top: 5px;
	right: 5px;
	line-height: 1;
	user-select: none;
	cursor: pointer;
}

.ww__forecast-open {
	position: absolute;
	bottom: 5px;
	right: 5px;
	line-height: 1;
	user-select: none;
	cursor: pointer;
}

.ww-hidden {
	opacity: 0;
	visibility: hidden;
	transform: translate(10px, 0) scale(0.95);
}

.ww__forecast {
	position: absolute;
	display: flex;
	width: 150px;
	bottom: -40px;
	left: 25px;
	overflow: hidden;
}

.ww__forecast-item {
	position: relative;
	width: 50px;
	height: 50px;
}

.ww__forecast-item-t {
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 12px;
	font-weight: 700;
	white-space: nowrap;
}