* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.space {
	width: 100vw;
	height: 100vh;
	background: url("../img/cosmos1.jpg") no-repeat 50% 50%;
	background-size: cover;
	overflow: hidden;
}