* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.tennis {
	max-width: 500px;
	margin: 50px auto;
}

.board {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
}

.board .btn {
	position: absolute;
	left: 0;
	top: 8px;
}

.board .score {
	font-size: 30px;
	font-weight: 700;
}

.board .score span {
	display: inline-block;
}

.play-field {
	border: 2px solid #333;
	background-color: #fff;
}